**/*.iml
**/*.idea
**/target
**/.project
**/.settings
**/.classpath
**/node_modules/*
**/dist/*
yarn-error.log
**/.history/*

**/cypress/videos
**/cypress/screenshots
**/constants.js

# This docker-compose.yml is a merged docker-compose.yml of all merged
# environments by dcmerge and is not needed for further use outside generating
# certificates via uctl.
scripts/docker-compose.yml
